body {
    /* text-align: center; */
    color: black;
    /* background: #add8e6; */
    background: url(C:/Users/user/Pictures/Screenshots/Screenshot.png);
    background-repeat: repeat-y; /* repeat-x, no-repeat */
     background-position: right top;
     background-attachment: fixed;
    
}

h2 {
    /* background-color: #1092de;
    opacity: 0.8; 0.0 to 1.0 */
     background: rgba(0, 128, 0, 0.3)
}