p {
    color: red;
}

body {
    /* background-color: gold; (#26889378, rgba(9, 200, 10, 0.8), rgb(9, 200, 10)) */
    /* background: hsl(182, 99%, 53%); */
    opacity: 0.9; 
    /* background-image: url(download.jfif); */
    /* background-repeat: no-repeat; /* no-repeat, repeat-y repeat-x */
   /* background-position:  center;
   /* background-size: auto; /* auto, contain, cover, 100% */
    /* background-attachment: fixed; */
    background: hsl(0, 24%, 96%) url(download.jfif) no-repeat fixed center
}